.w2017 {
	font-family: '微软雅黑 Regular', '微软雅黑';
}

.w2017 ul, .w2017 li, .w2017 dl, .w2017 dt, .w2017 dd {
	margin: 0;
}

.w2017 a {
	text-decoration: none;
}

.w2017 a:hover {
	font-family: '微软雅黑 Regular', '微软雅黑';
	text-decoration: underline;
}

.w2017 .footer p {
	margin: 0;
	padding: 0;
	line-height: 30px;
}

.w2017 .footer {
	width : 100%;
	min-width: 1200PX;
	font-size: 14px;
	font-family: 'Microsoft YaHei', Arial, Verdana, Helvetica, sans-serif;
	height: 200px;
	background: #333647;
	background: -webkit-linear-gradient(top, #333647, #242736);
	background: -ms-linear-gradient(top, #333647, #242736);
	background: -o-linear-gradient(top, #333647, #242736);
	background: -moz-linear-gradient(top, #333647, #242736);
	width: 100%;
}

.w2017 .footer .section {
	padding-top: 45px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.w2017 .footer .section .copyright {
	float: left;
	position: relative;
}

.w2017 .footer .section .copyright div {
	float: left;
	height: 120px;
}

.w2017 .footer .section .copyright .mark1 {
	display: block;
	float: left;
	text-align: center;
	padding-top: 20px;
}

.w2017 .footer .section .copyright .mark2 {
	display: block;
	float: left;
	text-align: center;
	padding-top: 30px;
}

.w2017 .footer .section .copyright .mark img {
	vertical-align: middle;
}

.w2017 .footer .section .copyright .link2017 {
	padding: 0px 40px 0px 40px;
	float: left;
}

.w2017 .footer .section .copyright em {
	margin-left: 10px;
}

.w2017 .footer .section .copyright p {
	color: #f2f2f2;
}

.w2017 .footer .section .copyright p a {
	color: #f2f2f2;
	line-height: 2;
	font-family: '微软雅黑 Regular', '微软雅黑';
}

.w2017 .footer .section ul li a {
	text-decoration: none;
	font-family: '微软雅黑 Regular', '微软雅黑';
}

.w2017 .footer .section .copyright p a.website {
	text-decoration: none;
}

.w2017 .footer .section .copyright p a.website:hover {
	text-decoration: underline;
}

.w2017 .footer .section .copyright p.flnum {
	text-indent: 3em;
	position: absolute;
}

.w2017 .footer .section .copyright p.flnum i {
	width: 18px;
	height: 20px;
	background: url(../images/emblem.png) no-repeat;
}

.w2017 .footer .section ul {
	float: right;
	position: absolute;
	right: 0px;
	list-style: none;
}

.w2017 .footer .section ul:before, .w2017 .footer .section ul:after {
	clear: both;
	content: '';
	display: table;
}

.w2017 .footer .section ul li.qr1 {
	float: left;
	width: 80px;
	padding-top: 82px;
	margin-right: 10px;
	background: url(../images/code1.png) no-repeat;
	margin-top: 10px;
}

.w2017 .footer .section ul li.qr2 {
	float: left;
	width: 82px;
	height: 41px;
	margin-right: 16px;
	margin-top: 30px;
	background: url(../images/goverror.png) no-repeat;
	background-size: 100% 100%;
}

.w2017 .footer .section ul li.qr3 {
	float: left;
	width: 90px;
	margin: 0;
	margin-right: 16px;
	margin-top: 10px;
}

.w2017 .footer .section ul li.qr4 {
	float: left;
	width: 80px;
	padding-top: 82px;
	margin-right: 16px;
	background: url(../images/code4.png) no-repeat;
}

.w2017 .footer .section ul li p {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.w2017 .footer .section ul li p i {
	width: 66px;
	height: 18px;
	display: block;
	margin: 0 auto;
	line-height: 18px;
	font-style: normal;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	background-color: rgba(29, 31, 42, 0.8);
}

.w2017 .sel {
	margin: 0px;
	padding: 0px;
	height: 26px;
	line-height: 26px;
	width: 237px;
	font-family: "宋体";
	border: solid 1px #666;
	padding-bottom: 4px;
}

.w2017 .FirdUrl {
	padding: 4px;
	overflow: hidden;
	text-align: center;
	width: 1201px;
	margin: 0 auto;
}

.w2017 img {
	vertical-align: middle;
}

.w2017 .mark3 {
	position: absolute;
	left: 875px;
	top: 75px;
	/*width: 84px;*/
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

.w2017  .mark2 img {
	width: 110px;
	height: 55px;
}

.w2017  .mark3 img {
	width: 110px;
	height: 55px;
}